.rivi {
  display: flex;
  justify-content: left;
  align-items: center;
}

.neliö {
  text-align: center;
  background-color: #4caf50;
  color: white;
  height: 60px;
  width: 70px;
  margin: 1px;
  font-size: 44px;
  flex: 0, 0, 80px;
}

.neliö:hover {
  background-color: lightgreen;
}
